<div class="well">
  <%= form_for(@upload_file) do |f| %>
    <p>
      <%= f.label :content %>
    </p>
    <p>
      <%= f.text_area :content, class: 'form-content', rows: 3 %>
    </p>

    <p>
      <label class="btn-sm btn-default btn-file">
      <%= f.file_field :attachment %>
        </label>
    </p>

    <p>
      <%= f.submit 'Upload!', class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>