<% @upload_files.each do |upload_file|%>
  <%= upload_file.download_link %> |
  <%= upload_file.size %> |
  <p>
    author: <%= upload_file.author_email %>
    <% if can? :destroy, upload_file %> |
        <%= upload_file.link_to_destroy %>
    <% end %> |
    <%= upload_file.link_to_show %>
  </p>
  <%= upload_file.attach %>
  <h4>
    <%= upload_file.content %>
  </h4>

  <hr>
  <br>
<% end %>
