<% provide(:title, 'All files') %>
<div class='container'>
<% if Rails.env.development? %>
  <div class="well">
    <%= link_to 'debug delete_all_files', debug_delete_all_files_path, class: 'btn btn-danger' %>
    <%= link_to 'debug delete_all_users', debug_delete_all_users_path, class: 'btn btn-danger' %>
  </div>
<% end %>
<div class='row'>
  <div class='col-md-5'>
  </div>
  <div class='col-md-3'>
    <%= render 'form' %>
  </div>
  <div class='col-md-4'>
  </div>
</div>
<%= render 'upload_file' %>