<!DOCTYPE html>
<html lang="en">
<head>
  <title>RGhost — file sharing</title>
  <meta content="Free file hosting without waiting and captcha. Preview for images, media, documents and archives. RGhost — fast and easy file sharing." name="description" />
  <meta content="file exchange, free file exchange, best file exchange, fast file exchange, file hosting, file storage, file sharing, image hosting, fotohosting, videohosting, audiohosting, share file, share image, review files, preview" name="keywords" />
  <meta charset="utf-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="authenticity_token" name="csrf-param" />
  <meta content="JcT72epN09b4apyPRJ57MfBLGbZ1CyOD/i/3ZW6QdME=" name="csrf-token" />
  <link href="/assets/stylesheets/first.css" media="screen" rel="stylesheet" type="text/css" />

  <link href="/opensearch_en.xml" rel="search" title="rghost" type="application/opensearchdescription+xml">
  <link href="/favicon.ico" rel="shortcut icon" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon" />
  <link href="/favicon.ico" rel="icon" sizes="196x196">


  <!--[if lt IE 9]>
  <script src="/assets/html5_ie-875f0d42a52ff5536404da8fda8d423b.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body class="with-top-navbar" id="welcome___index">
<div class="with-bg wrapper">

  <nav class="navbar navbar-inverse navbar-fixed-top app-navbar">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle collapsed" data-target="#navbar-collapse-main" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="brand" title="RGhost — file sharing"><img alt="Logo" height="50px" onerror="this.onerror=null; this.src=&#x27;/logo.png&#x27;" src="/assets/logo.svg" width="150px" /></a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-collapse-main">
        <form accept-charset="UTF-8" action="/search" class="navbar-form navbar-right app-search hidden-sm" method="get" role="search"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /></div>
          <div class="form-group">
            <input class="form-control" data-action="grow" name="s" placeholder="Search" type="text">
          </div>
        </form>

        <ul class="nav navbar-nav navbar-right hidden-xs">
          <li><a href="#registerModal" data-target="#registerModal" data-toggle="modal" title="Get free account">Sign up</a></li>
          <li><a href="#signInModal" data-target="#signInModal" data-toggle="modal">Sign in</a></li>
        </ul>
        <ul class="nav navbar-nav hidden-sm hidden-md hidden-lg">
          <li><a href="#registerModal" data-target="#registerModal" data-toggle="modal" title="Get free account">Sign up</a></li>
          <li><a href="#signInModal" data-target="#signInModal" data-toggle="modal">Sign in</a></li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container" id="content">

    <div class="container-fill-height">
      <div class="container-content-middle">
        <div class="row">
          <div class="m-x-auto">
            <%= image_tag("cloud-storage.svg", alt: "Cloud-storage", class: "img-responsive center-block cloud-img")%>
          </div>
        </div>
        <div class="upload-form-wrap">
          <center>
            <button class="btn btn-primary btn-upload" id="upload_button" name="button" type="submit">Share - select a file</button>
<span class="hint hint-upload no-overflow nowrap">
Maximum file size is
100 MB
</span>
            <div id="upload-error" style="display: none;"></div>
            <form accept-charset="UTF-8" action="http://muonium.rghost.net/files" class="form-inline height-0" enctype="multipart/form-data" id="upload_form" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="JcT72epN09b4apyPRJ57MfBLGbZ1CyOD/i/3ZW6QdME=" /></div>
              <div class="form-group">
                <input id="choose" name="file" size="50" type="file" />
              </div>
              <input class="btn btn-primary upload" id="commit" name="commit" type="submit" value="Upload" />
            </form>

            <div class="upload-progress-container" data-max-file-size="104857600" data-status-url="http://muonium.rghost.net/progress" data-upload-progress-for="upload_form" style="display:none"></div>
            <div class="m-x-auto">
              <div class="upload-info hide-element">
                <div class="row">
                  <div class="progress progress-striped active upload-progress hide-element">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" class="progress-bar" role="progressbar">
                      0%
                    </div>
                  </div>
                  <button class="btn btn-danger btn-xs btn-upload-cancel hide-element" type="button">
                    <span class="icon icon-circle-with-cross"></span>
                  </button>
                </div>
<span class="hint hint-upload-progress nowrap no-overflow">
Starting...
</span>
              </div>
            </div>
          </center>
          <div id="dropbox">
            <div class="dropbox-info">
<span class="dropbox-info-text">
Drop the file wherever you feel like, and we'll upload it for you!
</span>
              <br>
<span class="dropbox-info-hint">
Maximum file size is
100 MB
</span>
            </div>
          </div>

        </div>
        <div class="row hidden-xs shadow flex">
          <div class="m-x-auto">
            <div class="text-block-main m-t-md">
              <p>
<span class="icon icon-copy">
 You can drag and drop a file on this page
</span>
              </p>
              <p>
<span class="icon icon-cloud">
 Or select a file repository in the cloud
</span>
              </p>
            </div>
          </div>
        </div>
        <div class="cloud-icons shadow">
          <div class="row text-center">
            <ul class="list-inline">
              <li>
                <a href="#" class="link-button" data-remote="true"><div class="icon-dropbox"></div>
                  <div class="hint hint-hover">Dropbox</div>
                </a></li>
              <li>
                <a href="#" class="link-button" data-remote="true"><div class="icon-google"></div>
                  <div class="hint hint-hover">Google Drive</div>
                </a></li>
              <li>
                <a href="#" class="link-button" data-remote="true"><div class="icon-onedrive"></div>
                  <div class="hint hint-hover">Onedrive</div>
                </a></li>
            </ul>
          </div>
        </div>
        <script data-app-key="sx0b6jakttt9di5" id="dropboxjs" src="https://www.dropbox.com/static/api/2/dropins.js" type="text/javascript"></script>

        <script src="https://apis.google.com/js/api.js?onload=onApiLoad" type="text/javascript"></script>
        <div id="result-google"></div>

        <script client-id="000000004C177A0E" id="onedrive-js" src="https://js.live.net/v5.0/OneDrive.js" type="text/javascript"></script>

      </div>
    </div>

  </div>
  <div class="push"></div>
</div>

<div aria-hidden="true" aria-labelledby="msgModal" class="modal fade" id="signInModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form accept-charset="UTF-8" action="/profile/sign_in" class="simple_form form-horizontal" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="JcT72epN09b4apyPRJ57MfBLGbZ1CyOD/i/3ZW6QdME=" /></div><div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title">Sign in</h4>
      </div>
        <div class="modal-body">

          <div class="form-group email required user_email"><div class="col-xs-4 col-sm-3 control-label"><label class="email required" for="user_email"><abbr title="required">*</abbr> Email</label></div><div class="col-xs-8 col-sm-9"><input class="string email required form-control form-control" id="user_email" name="user[email]" required="required" size="50" type="email" value="" /></div></div>
          <div class="form-group password required user_password"><div class="col-xs-4 col-sm-3 control-label"><label class="password required" for="user_password"><abbr title="required">*</abbr> Password</label></div><div class="col-xs-8 col-sm-9"><input class="password required form-control" id="user_password" name="user[password]" required="required" size="50" type="password" /><p class="help-block"><a href="/profile/password/new">Forgot password?</a></p></div></div>
          <div class="on-top-20">
            <div class="form-group boolean optional user_remember_me"><div class="col-sm-offset-3 col-sm-9"><div class="checkbox"><input name="user[remember_me]" type="hidden" value="0" /><label class="checkbox"><input checked="checked" class="boolean optional" id="user_remember_me" name="user[remember_me]" type="checkbox" value="1" />Remember me</label></div></div></div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-6">
              <div class="text-left">
                <a href="/profile/openid_login" class="btn btn-default">OpenID</a>
              </div>
            </div>
            <div class="col-xs-6">
              <div class="text-right">
                <input class="btn btn-primary" name="commit" type="submit" value="Sign in" />
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<div aria-hidden="true" aria-labelledby="msgModal" class="modal fade" id="registerModal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <form accept-charset="UTF-8" action="/profile" class="simple_form form-horizontal" id="new_user" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="JcT72epN09b4apyPRJ57MfBLGbZ1CyOD/i/3ZW6QdME=" /></div><div class="modal-header">
        <button aria-hidden="true" class="close" data-dismiss="modal" type="button">×</button>
        <h4 class="modal-title">Registration</h4>
      </div>
        <div class="modal-body">

          <div class="form-group string required user_name"><div class="col-xs-4 col-sm-3 control-label"><label class="string required" for="user_name"><abbr title="required">*</abbr> Name</label></div><div class="col-xs-8 col-sm-9"><input class="string required form-control" id="user_name" name="user[name]" required="required" size="50" type="text" /></div></div>
          <div class="form-group email required user_email"><div class="col-xs-4 col-sm-3 control-label"><label class="email required" for="user_email"><abbr title="required">*</abbr> Email</label></div><div class="col-xs-8 col-sm-9"><input class="string email required form-control form-control" id="user_email" name="user[email]" required="required" size="50" type="email" /></div></div>
          <div class="form-group password required user_password"><div class="col-xs-4 col-sm-3 control-label"><label class="password required" for="user_password"><abbr title="required">*</abbr> Password</label></div><div class="col-xs-8 col-sm-9"><input class="password required form-control" id="user_password" name="user[password]" required="required" size="50" type="password" /></div></div>
          <div class="form-group password required user_password_confirmation"><div class="col-xs-4 col-sm-3 control-label"><label class="password required" for="user_password_confirmation"><abbr title="required">*</abbr> Confirm</label></div><div class="col-xs-8 col-sm-9"><input class="password required form-control" id="user_password_confirmation" name="user[password_confirmation]" required="required" size="50" type="password" /></div></div>
        </div>
        <div class="modal-footer">
          <div class="row">
            <div class="col-xs-2">
              <div class="text-left">
                <a href="/profile/openid_login" class="btn btn-default">OpenID</a>
              </div>
            </div>
            <div class="col-xs-10">
              <div class="text-right">
                <input class="btn btn-primary" data-disable-with="Creating…" name="commit" type="submit" value="Sign up" />
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script src="/assets/application-8a372a81ce314721edea2a79e55b4aa7.js" type="text/javascript"></script>




<script type="text/javascript">
  //<![CDATA[
  I18n.defaultLocale = "en"
  I18n.locale = "en"

  //]]>
</script><script>
  var blocks = JSON.parse(atob("e30="));
</script>
</body>
</html>
