@import "bootstrap";

.alert {
  color: red;
}

.notice {
  color: green;
}

.image {
  width: 250px;
  height: 200px;
}

.image img {
  width: auto;
  height: 100%;
}

.form-content{
  width: 100%;
}