<div class="container">
  <header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
      <%= link_to "MongoShara", upload_files_path, id: "logo", class:"navbar-brand" %>
      <nav>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "All files", upload_files_path %></li>
          <% if signed_in? %>
            <li><%= link_to "Sign out",
             destroy_user_session_path, method: :delete %></li>
           <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
           <% end %>
        </ul>
      </nav>
    </div>
  </header>
</div>


